<template>
  <style>
    html,
    body {
      width: 100%;
      height: 100%;
    }

    .dropzone {
      display: inline-block;
      border: 2px dashed gray;
      background-color: #e9e9e9;
      border-radius: 10px;
      width: 50%;
      text-align: center;
      line-height: 200px;
    }

    .dropzone.hover {
      background-color: lightgray;
    }

    .file-list {
      list-style: none;
      padding-left: 0;
      margin: 0 5px;
    }
  </style>

  <section if.bind="!fileApiSupported">File API is not supported in your browser</section>
  <section if.bind="fileApiSupported">
    <input type="file" ref="dropZone" class="dropzone ${hover ? 'hover' : ''}">Drop files here</input>
    <h3>Files:</h3>
    <ul class="file-list">
      <li repeat.for="file of files">
        ${ file.name }
      </li>
    </ul>
  </section>
</template>