<template>
  <require from="components/dropzone/dropzone"></require>

  <h1>Drag N Drop</h1>

  <dropzone files.two-way="files"></dropzone>

  <form submit.delegate="postFiles()">
    <button type="submit">Submit</button>
  </form>
</template>